STRINGTABLE
BEGIN
    1, "Biz-Operator"
    2, "Finances and Stock Management plus Web Stores"
    3, "Biz-Operator"
    4, "www.Biz-Operator.com"
    5, "Biz-Operator"
    6, "Biz-Operator"
    7, "PT1BmefprlnatY29Cbkw0VkdadWwyTHQ5Mll1a25jdlJuYmxabmJwMXlhdjV5ZDNkM0x2b0RjMFJIYQ=="
    8, "PTBUddjdobbphZWx0bUo1VjJhZnQyWWxoMlk5QTNi"
    9, "PT1BmefprlnatY29Cbkw0VkdadWwyTHQ5Mll1a25jdlJuYmxabmJwMXlhdjV5ZDNkM0x2b0RjMFJIYQ=="
    10, "PTBUddjdobbphZWx0bUo1VjJhZnQyWWxoMlk5QTNi"
    11, "PTAyijqcbdefqYmo1U2V5OUdkdVZtZHVsV0xyOW1MM2QzZA=="
    12, "bo,usa"
END
ABOUT BITMAP "D:\Projects\pics\logos\about-ENG-bo.bmp"
SPLASH BITMAP "D:\Projects\pics\logos\splash-ENG-bo.bmp"
HBANNER BITMAP "D:\Projects\pics\logos\hbanner-ENG-bo.bmp"
HBANSRV BITMAP "D:\Projects\pics\logos\hbanner-server-ENG-bo.bmp"
