STRINGTABLE
BEGIN
    1, "ОК-Склад"
    2, "Финансы, Склады и Интернет-магазины"
    3, "Иристайл"
    4, "www.OK-Sklad.com"
    5, "OK-Sklad"
    6, "Иристайл"
    7, "d2hHocprfmrftY3VnWFprNVdhdjAyYmo1Q1poeDJhejF5YXY1eWQzZDNMdm9EYzBSSGE="
    8, "PTBUddjdobbphZWx0bUo1VjJhZnQyWWxoMlk5QTNi"
    9, "d2hHocprfmrftY3VnWFprNVdhdjAyYmo1Q1poeDJhejF5YXY1eWQzZDNMdm9EYzBSSGE="
    10, "PTBUddjdobbphZWx0bUo1VjJhZnQyWWxoMlk5QTNi"
    11, "PT1RgngfookrcYnZObUxrRkdick5YTHI5bUwzZDNk"
    12, "rus"
END
ABOUT BITMAP "D:\Projects\pics\logos\about-RUS.bmp"
SPLASH BITMAP "D:\Projects\pics\logos\splash-RUS.bmp"
HBANNER BITMAP "D:\Projects\pics\logos\hbanner-RUS.bmp"
HBANSRV BITMAP "D:\Projects\pics\logos\hbanner-server-RUS.bmp"
