IE BITMAP "D:\Projects\Production7\Icons\ie_noalpha.bmp"
IEBW BITMAP "D:\Projects\Production7\Icons\ie_bw_noalpha.bmp"
CHECK BITMAP "D:\Projects\Production7\Icons\n_checked16_ex.bmp"
SEL BITMAP "D:\Projects\Production7\Icons\50prc_grid.bmp"
DEL BITMAP "D:\Projects\Production7\Icons\n_del16.bmp"
DELBW BITMAP "D:\Projects\Production7\Icons\n_del16_bw.bmp"
TAPIMGLIST BITMAP "D:\Projects\Libs7\ap\TapImgList.bmp"
