STRINGTABLE
BEGIN
    0, "ARAMAUATAZBHBYBEBMBABRBNBGCACFCLCNCZDKEEFIFRGEDEGRHKHUINIEILITJPKZKRKGLVLTLUMXMDNLNZNOPAPEPLPTRORUSARSSGSKSIESSDSECHSYTWTJTHTRTMTVUAAEGBUSUZVN"
    1, "Argentina"
    2, "Armenia"
    3, "Australia"
    4, "Austria"
    5, "Azerbaijan"
    6, "Bahrain"
    7, "Belarus"
    8, "Belgium"
    9, "Bermuda"
    10, "Bosnia and Herzegovina"
    11, "Brazil"
    12, "Brunei Darussalam"
    13, "Bulgaria"
    14, "Canada"
    15, "Central African Republic"
    16, "Chile"
    17, "China"
    18, "Czech Republic"
    19, "Denmark"
    20, "Estonia"
    21, "Finland"
    22, "France"
    23, "Georgia"
    24, "Germany"
    25, "Greece"
    26, "Hong Kong"
    27, "Hungary"
    28, "India"
    29, "Ireland"
    30, "Israel"
    31, "Italy"
    32, "Japan"
    33, "Kazakhstan"
    34, "Korea, Republic of"
    35, "Kyrgyzstan"
    36, "Latvia"
    37, "Lithuania"
    38, "Luxembourg"
    39, "Mexico"
    40, "Moldova"
    41, "Netherlands"
    42, "New Zealand"
    43, "Norway"
    44, "Panama"
    45, "Peru"
    46, "Poland"
    47, "Portugal"
    48, "Romania"
    49, "Russia"
    50, "Saudi Arabia"
    51, "Serbia"
    52, "Singapore"
    53, "Slovakia"
    54, "Slovenia"
    55, "Spain"
    56, "Sudan"
    57, "Sweden"
    58, "Switzerland"
    59, "Syrian Arab Republic"
    60, "Taiwan"
    61, "Tajikistan"
    62, "Thailand"
    63, "Turkey"
    64, "Turkmenistan"
    65, "Tuvalu"
    66, "Ukraine"
    67, "United Arab Emirates"
    68, "United Kingdom"
    69, "United States"
    70, "Uzbekistan"
    71, "Viet Nam"
END
AR BITMAP "pics\AR.bmp"
AM BITMAP "pics\AM.bmp"
AU BITMAP "pics\AU.bmp"
AT BITMAP "pics\AT.bmp"
AZ BITMAP "pics\AZ.bmp"
BH BITMAP "pics\BH.bmp"
BY BITMAP "pics\BY.bmp"
BE BITMAP "pics\BE.bmp"
BM BITMAP "pics\BM.bmp"
BA BITMAP "pics\BA.bmp"
BR BITMAP "pics\BR.bmp"
BN BITMAP "pics\BN.bmp"
BG BITMAP "pics\BG.bmp"
CA BITMAP "pics\CA.bmp"
CF BITMAP "pics\CF.bmp"
CL BITMAP "pics\CL.bmp"
CN BITMAP "pics\CN.bmp"
CZ BITMAP "pics\CZ.bmp"
DK BITMAP "pics\DK.bmp"
EE BITMAP "pics\EE.bmp"
FI BITMAP "pics\FI.bmp"
FR BITMAP "pics\FR.bmp"
GE BITMAP "pics\GE.bmp"
DE BITMAP "pics\DE.bmp"
GR BITMAP "pics\GR.bmp"
HK BITMAP "pics\HK.bmp"
HU BITMAP "pics\HU.bmp"
IN BITMAP "pics\IN.bmp"
IE BITMAP "pics\IE.bmp"
IL BITMAP "pics\IL.bmp"
IT BITMAP "pics\IT.bmp"
JP BITMAP "pics\JP.bmp"
KZ BITMAP "pics\KZ.bmp"
KR BITMAP "pics\KR.bmp"
KG BITMAP "pics\KG.bmp"
LV BITMAP "pics\LV.bmp"
LT BITMAP "pics\LT.bmp"
LU BITMAP "pics\LU.bmp"
MX BITMAP "pics\MX.bmp"
MD BITMAP "pics\MD.bmp"
NL BITMAP "pics\NL.bmp"
NZ BITMAP "pics\NZ.bmp"
NO BITMAP "pics\NO.bmp"
PA BITMAP "pics\PA.bmp"
PE BITMAP "pics\PE.bmp"
PL BITMAP "pics\PL.bmp"
PT BITMAP "pics\PT.bmp"
RO BITMAP "pics\RO.bmp"
RU BITMAP "pics\RU.bmp"
SA BITMAP "pics\SA.bmp"
RS BITMAP "pics\RS.bmp"
SG BITMAP "pics\SG.bmp"
SK BITMAP "pics\SK.bmp"
SI BITMAP "pics\SI.bmp"
ES BITMAP "pics\ES.bmp"
SD BITMAP "pics\SD.bmp"
SE BITMAP "pics\SE.bmp"
CH BITMAP "pics\CH.bmp"
SY BITMAP "pics\SY.bmp"
TW BITMAP "pics\TW.bmp"
TJ BITMAP "pics\TJ.bmp"
TH BITMAP "pics\TH.bmp"
TR BITMAP "pics\TR.bmp"
TM BITMAP "pics\TM.bmp"
TV BITMAP "pics\TV.bmp"
UA BITMAP "pics\UA.bmp"
AE BITMAP "pics\AE.bmp"
GB BITMAP "pics\GB.bmp"
US BITMAP "pics\US.bmp"
UZ BITMAP "pics\UZ.bmp"
VN BITMAP "pics\VN.bmp"

