AD BITMAP "pics\AD.bmp"
AE BITMAP "pics\AE.bmp"
AF BITMAP "pics\AF.bmp"
AG BITMAP "pics\AG.bmp"
AI BITMAP "pics\AI.bmp"
AL BITMAP "pics\AL.bmp"
AM BITMAP "pics\AM.bmp"
AN BITMAP "pics\AN.bmp"
AO BITMAP "pics\AO.bmp"
AQ BITMAP "pics\AQ.bmp"
AR BITMAP "pics\AR.bmp"
AS BITMAP "pics\AS.bmp"
AT BITMAP "pics\AT.bmp"
AU BITMAP "pics\AU.bmp"
AW BITMAP "pics\AW.bmp"
AX BITMAP "pics\AX.bmp"
AZ BITMAP "pics\AZ.bmp"
BA BITMAP "pics\BA.bmp"
BB BITMAP "pics\BB.bmp"
BD BITMAP "pics\BD.bmp"
BE BITMAP "pics\BE.bmp"
BF BITMAP "pics\BF.bmp"
BG BITMAP "pics\BG.bmp"
BH BITMAP "pics\BH.bmp"
BI BITMAP "pics\BI.bmp"
BJ BITMAP "pics\BJ.bmp"
BM BITMAP "pics\BM.bmp"
BN BITMAP "pics\BN.bmp"
BO BITMAP "pics\BO.bmp"
BR BITMAP "pics\BR.bmp"
BS BITMAP "pics\BS.bmp"
BT BITMAP "pics\BT.bmp"
BW BITMAP "pics\BW.bmp"
BY BITMAP "pics\BY.bmp"
BZ BITMAP "pics\BZ.bmp"
CA BITMAP "pics\CA.bmp"
CC BITMAP "pics\CC.bmp"
CD BITMAP "pics\CD.bmp"
CF BITMAP "pics\CF.bmp"
CG BITMAP "pics\CG.bmp"
CH BITMAP "pics\CH.bmp"
CI BITMAP "pics\CI.bmp"
CK BITMAP "pics\CK.bmp"
CL BITMAP "pics\CL.bmp"
CM BITMAP "pics\CM.bmp"
CN BITMAP "pics\CN.bmp"
CO BITMAP "pics\CO.bmp"
CR BITMAP "pics\CR.bmp"
CS BITMAP "pics\CS.bmp"
CU BITMAP "pics\CU.bmp"
CV BITMAP "pics\CV.bmp"
CX BITMAP "pics\CX.bmp"
CY BITMAP "pics\CY.bmp"
CZ BITMAP "pics\CZ.bmp"
DE BITMAP "pics\DE.bmp"
DJ BITMAP "pics\DJ.bmp"
DK BITMAP "pics\DK.bmp"
DM BITMAP "pics\DM.bmp"
DO BITMAP "pics\DO.bmp"
DZ BITMAP "pics\DZ.bmp"
EC BITMAP "pics\EC.bmp"
EE BITMAP "pics\EE.bmp"
EG BITMAP "pics\EG.bmp"
EH BITMAP "pics\EH.bmp"
ER BITMAP "pics\ER.bmp"
ES BITMAP "pics\ES.bmp"
ET BITMAP "pics\ET.bmp"
FI BITMAP "pics\FI.bmp"
FJ BITMAP "pics\FJ.bmp"
FK BITMAP "pics\FK.bmp"
FM BITMAP "pics\FM.bmp"
FO BITMAP "pics\FO.bmp"
FR BITMAP "pics\FR.bmp"
GA BITMAP "pics\GA.bmp"
GB BITMAP "pics\GB.bmp"
GD BITMAP "pics\GD.bmp"
GE BITMAP "pics\GE.bmp"
GF BITMAP "pics\GF.bmp"
GH BITMAP "pics\GH.bmp"
GI BITMAP "pics\GI.bmp"
GL BITMAP "pics\GL.bmp"
GM BITMAP "pics\GM.bmp"
GN BITMAP "pics\GN.bmp"
GP BITMAP "pics\GP.bmp"
GQ BITMAP "pics\GQ.bmp"
GR BITMAP "pics\GR.bmp"
GS BITMAP "pics\GS.bmp"
GT BITMAP "pics\GT.bmp"
GU BITMAP "pics\GU.bmp"
GW BITMAP "pics\GW.bmp"
GY BITMAP "pics\GY.bmp"
HK BITMAP "pics\HK.bmp"
HN BITMAP "pics\HN.bmp"
HR BITMAP "pics\HR.bmp"
HT BITMAP "pics\HT.bmp"
HU BITMAP "pics\HU.bmp"
ID BITMAP "pics\ID.bmp"
IE BITMAP "pics\IE.bmp"
IL BITMAP "pics\IL.bmp"
IN BITMAP "pics\IN.bmp"
IO BITMAP "pics\IO.bmp"
IQ BITMAP "pics\IQ.bmp"
IR BITMAP "pics\IR.bmp"
IS BITMAP "pics\IS.bmp"
IT BITMAP "pics\IT.bmp"
JM BITMAP "pics\JM.bmp"
JO BITMAP "pics\JO.bmp"
JP BITMAP "pics\JP.bmp"
KE BITMAP "pics\KE.bmp"
KG BITMAP "pics\KG.bmp"
KH BITMAP "pics\KH.bmp"
KI BITMAP "pics\KI.bmp"
KM BITMAP "pics\KM.bmp"
KN BITMAP "pics\KN.bmp"
KP BITMAP "pics\KP.bmp"
KR BITMAP "pics\KR.bmp"
KW BITMAP "pics\KW.bmp"
KY BITMAP "pics\KY.bmp"
KZ BITMAP "pics\KZ.bmp"
LA BITMAP "pics\LA.bmp"
LB BITMAP "pics\LB.bmp"
LC BITMAP "pics\LC.bmp"
LI BITMAP "pics\LI.bmp"
LK BITMAP "pics\LK.bmp"
LR BITMAP "pics\LR.bmp"
LS BITMAP "pics\LS.bmp"
LT BITMAP "pics\LT.bmp"
LU BITMAP "pics\LU.bmp"
LV BITMAP "pics\LV.bmp"
LY BITMAP "pics\LY.bmp"
MA BITMAP "pics\MA.bmp"
MC BITMAP "pics\MC.bmp"
MD BITMAP "pics\MD.bmp"
ME BITMAP "pics\ME.bmp"
MG BITMAP "pics\MG.bmp"
MH BITMAP "pics\MH.bmp"
MK BITMAP "pics\MK.bmp"
ML BITMAP "pics\ML.bmp"
MM BITMAP "pics\MM.bmp"
MN BITMAP "pics\MN.bmp"
MO BITMAP "pics\MO.bmp"
MP BITMAP "pics\MP.bmp"
MQ BITMAP "pics\MQ.bmp"
MR BITMAP "pics\MR.bmp"
MS BITMAP "pics\MS.bmp"
MT BITMAP "pics\MT.bmp"
MU BITMAP "pics\MU.bmp"
MV BITMAP "pics\MV.bmp"
MW BITMAP "pics\MW.bmp"
MX BITMAP "pics\MX.bmp"
MY BITMAP "pics\MY.bmp"
MZ BITMAP "pics\MZ.bmp"
NA BITMAP "pics\NA.bmp"
NC BITMAP "pics\NC.bmp"
NE BITMAP "pics\NE.bmp"
NF BITMAP "pics\NF.bmp"
NG BITMAP "pics\NG.bmp"
NI BITMAP "pics\NI.bmp"
NL BITMAP "pics\NL.bmp"
NO BITMAP "pics\NO.bmp"
NP BITMAP "pics\NP.bmp"
NR BITMAP "pics\NR.bmp"
NU BITMAP "pics\NU.bmp"
NZ BITMAP "pics\NZ.bmp"
OM BITMAP "pics\OM.bmp"
PA BITMAP "pics\PA.bmp"
PE BITMAP "pics\PE.bmp"
PF BITMAP "pics\PF.bmp"
PG BITMAP "pics\PG.bmp"
PH BITMAP "pics\PH.bmp"
PK BITMAP "pics\PK.bmp"
PL BITMAP "pics\PL.bmp"
PM BITMAP "pics\PM.bmp"
PN BITMAP "pics\PN.bmp"
PR BITMAP "pics\PR.bmp"
PS BITMAP "pics\PS.bmp"
PT BITMAP "pics\PT.bmp"
PW BITMAP "pics\PW.bmp"
PY BITMAP "pics\PY.bmp"
QA BITMAP "pics\QA.bmp"
RE BITMAP "pics\RE.bmp"
RO BITMAP "pics\RO.bmp"
RS BITMAP "pics\RS.bmp"
RU BITMAP "pics\RU.bmp"
RW BITMAP "pics\RW.bmp"
SA BITMAP "pics\SA.bmp"
SB BITMAP "pics\SB.bmp"
SC BITMAP "pics\SC.bmp"
SD BITMAP "pics\SD.bmp"
SE BITMAP "pics\SE.bmp"
SG BITMAP "pics\SG.bmp"
SH BITMAP "pics\SH.bmp"
SI BITMAP "pics\SI.bmp"
SK BITMAP "pics\SK.bmp"
SL BITMAP "pics\SL.bmp"
SM BITMAP "pics\SM.bmp"
SN BITMAP "pics\SN.bmp"
SO BITMAP "pics\SO.bmp"
SR BITMAP "pics\SR.bmp"
ST BITMAP "pics\ST.bmp"
SU BITMAP "pics\SU.bmp"
SV BITMAP "pics\SV.bmp"
SY BITMAP "pics\SY.bmp"
SZ BITMAP "pics\SZ.bmp"
TC BITMAP "pics\TC.bmp"
TD BITMAP "pics\TD.bmp"
TF BITMAP "pics\TF.bmp"
TG BITMAP "pics\TG.bmp"
TH BITMAP "pics\TH.bmp"
TJ BITMAP "pics\TJ.bmp"
TL BITMAP "pics\TL.bmp"
TM BITMAP "pics\TM.bmp"
TN BITMAP "pics\TN.bmp"
TO BITMAP "pics\TO.bmp"
TR BITMAP "pics\TR.bmp"
TT BITMAP "pics\TT.bmp"
TV BITMAP "pics\TV.bmp"
TW BITMAP "pics\TW.bmp"
TZ BITMAP "pics\TZ.bmp"
UA BITMAP "pics\UA.bmp"
UG BITMAP "pics\UG.bmp"
UM BITMAP "pics\UM.bmp"
US BITMAP "pics\US.bmp"
UY BITMAP "pics\UY.bmp"
UZ BITMAP "pics\UZ.bmp"
VA BITMAP "pics\VA.bmp"
VC BITMAP "pics\VC.bmp"
VE BITMAP "pics\VE.bmp"
VG BITMAP "pics\VG.bmp"
VI BITMAP "pics\VI.bmp"
VN BITMAP "pics\VN.bmp"
WF BITMAP "pics\WF.bmp"
WS BITMAP "pics\WS.bmp"
YE BITMAP "pics\YE.bmp"
YT BITMAP "pics\YT.bmp"
ZA BITMAP "pics\ZA.bmp"
ZM BITMAP "pics\ZM.bmp"
ZW BITMAP "pics\ZW.bmp"
__ BITMAP "pics\__.bmp"
